{application, erlbot,
    [{vsn, "1.0.0"},
     {modules, [erlbot_app,erlbot_sup,erlbot_callbacks]},
     {registered, []},
     {applications, []},
     {mod, {erlbot_app, []}}
    ]},
{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.
