{sys, [
    {lib_dirs, [".", "./erlbot/deps"]}, %% cwd assumed to be path to release
    {rel, "erlbot", "1.0.0", [
        kernel,
        stdlib,
        goldrush,
        syntax_tools,
        compiler,
        lager,
        {erlbot, permanent}
    ]},
    {boot_rel, "erlbot"},
    {relocatable, true},
    {profile, standalone},
    {app, erlbot, [{vsn, "1.0.0"},
        {incl_cond, include},
        {app_file, keep},
        {debug_info, keep}
    ]}
]}.
